.elementor-338 .elementor-element.elementor-element-bc91502 {
	padding: 5px 0
}
.elementor-338 .elementor-element.elementor-element-7ccbeed>.elementor-element-populated {
	padding: 2px 0 0
}
.elementor-338 .elementor-element.elementor-element-a236110>.elementor-element-populated {
	padding: 10px 0 0 200px
}
.elementor-338 .elementor-element.elementor-element-f68d6ef .elementor-icon-list-icon i {
	color: #fff
}
.elementor-338 .elementor-element.elementor-element-f68d6ef .elementor-icon-list-icon svg {
	fill: #fff
}
.elementor-338 .elementor-element.elementor-element-f68d6ef {
--e-icon-list-icon-size:14px
}
.elementor-338 .elementor-element.elementor-element-f68d6ef .elementor-icon-list-text {
	color: #fff
}
.elementor-338 .elementor-element.elementor-element-f68d6ef .elementor-icon-list-item>.elementor-icon-list-text, .elementor-338 .elementor-element.elementor-element-f68d6ef .elementor-icon-list-item>a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400
}
.elementor-338 .elementor-element.elementor-element-79c7168 .elementor-icon-list-icon i {
	color: #fff
}
.elementor-338 .elementor-element.elementor-element-79c7168 .elementor-icon-list-icon svg {
	fill: #fff
}
.elementor-338 .elementor-element.elementor-element-79c7168 {
--e-icon-list-icon-size:14px
}
.elementor-338 .elementor-element.elementor-element-79c7168 .elementor-icon-list-text {
	color: #fff
}
.elementor-338 .elementor-element.elementor-element-79c7168 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-338 .elementor-element.elementor-element-79c7168 .elementor-icon-list-item>a {
	font-family: "Poppins", Sans-serif;
	font-weight: 400
}
.elementor-338 .elementor-element.elementor-element-a61e332 {
--grid-template-columns:repeat(0, auto);
--icon-size:19px;
--grid-column-gap:6px;
--grid-row-gap:0px
}
.elementor-338 .elementor-element.elementor-element-a61e332 .elementor-widget-container {
	text-align: right
}
.elementor-338 .elementor-element.elementor-element-a61e332 .elementor-social-icon {
	background-color: #FFFFFF00;
--icon-padding:.3em
}
.elementor-338 .elementor-element.elementor-element-a61e332 .elementor-social-icon i {
	color: #fff
}
.elementor-338 .elementor-element.elementor-element-a61e332 .elementor-social-icon svg {
	fill: #fff
}
.elementor-338 .elementor-element.elementor-element-938e760 {
	padding: 0
}
.elementor-338 .elementor-element.elementor-element-e6faf70>.elementor-element-populated {
	padding: 20px 0
}
.elementor-338 .elementor-element.elementor-element-878207c>.elementor-element-populated {
	padding: 0
}
.elementor-338 .elementor-element.elementor-element-2ddf960 .hfe-site-logo-container, .elementor-338 .elementor-element.elementor-element-2ddf960 .hfe-caption-width figcaption {
	text-align: center
}
.elementor-338 .elementor-element.elementor-element-2ddf960 .hfe-site-logo-set .hfe-site-logo-container {
	background-color: #fff
}
.elementor-338 .elementor-element.elementor-element-2ddf960 .hfe-site-logo-container .hfe-site-logo-img {
	border-style: none
}
.elementor-338 .elementor-element.elementor-element-2ddf960 .widget-image-caption {
	margin-top: 0;
	margin-bottom: 0
}
.elementor-338 .elementor-element.elementor-element-2ddf960>.elementor-widget-container {
	padding: 0
}
.elementor-338 .elementor-element.elementor-element-2ddf960 {
	width: var(--container-widget-width, 103.698%);
	max-width: 103.698%;
--container-widget-width:103.698%;
--container-widget-flex-grow:0;
	top: -79px
}
body:not(.rtl) .elementor-338 .elementor-element.elementor-element-2ddf960 {
	left: 0
}
body.rtl .elementor-338 .elementor-element.elementor-element-2ddf960 {
	right: 0
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .hfe-nav-menu__toggle {
	margin: 0 auto
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item {
	padding-left: 15px;
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-sub-menu-item {
	padding-left: calc(15px + 20px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 40px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 60px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 80px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 a.hfe-sub-menu-item {
	font-family: "Poppins", Sans-serif;
	font-size: 17px;
	font-weight: 500;
	text-transform: uppercase
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .sub-menu a.hfe-sub-menu-item {
	color: #000
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item:hover, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .sub-menu a.hfe-sub-menu-item:hover, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item.current-menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item.highlighted, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item a.hfe-menu-item:focus {
	color: #1377aa
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item.current-menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 .menu-item.current-menu-ancestor a.hfe-menu-item {
	color: #1377aa
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .sub-menu, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown-expandible, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 ul.sub-menu {
	width: 220px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .sub-menu a.hfe-sub-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown li a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9 .sub-menu li.menu-item:not(:last-child), .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown li.menu-item:not(:last-child), .elementor-338 .elementor-element.elementor-element-e3e1bb9 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px
}
.elementor-338 .elementor-element.elementor-element-e3e1bb9>.elementor-widget-container {
	padding: 0
}
.elementor-338 .elementor-element.elementor-element-29fc916.elementor-column>.elementor-widget-wrap {
	justify-content: center
}
.elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button .elementor-align-icon-right {
	margin-left: 0
}
.elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button .elementor-align-icon-left {
	margin-right: 0
}
.elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #e5d024;
	padding: 15px 30px
}
.elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button:hover, .elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button:focus {
	color: #fff;
	background-color: #1075ac
}
.elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button:hover svg, .elementor-338 .elementor-element.elementor-element-50c7257 .elementor-button:focus svg {
	fill: #fff
}
.elementor-338 .elementor-element.elementor-element-146799d>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}
.elementor-338 .elementor-element.elementor-element-7e0df3c .hfe-site-logo-container, .elementor-338 .elementor-element.elementor-element-7e0df3c .hfe-caption-width figcaption {
	text-align: center
}
.elementor-338 .elementor-element.elementor-element-7e0df3c .hfe-site-logo-container .hfe-site-logo-img {
	border-style: none
}
.elementor-338 .elementor-element.elementor-element-7e0df3c .widget-image-caption {
	margin-top: 0;
	margin-bottom: 0
}
.elementor-338 .elementor-element.elementor-element-f51f4db .hfe-nav-menu__toggle {
	margin-left: auto
}
.elementor-338 .elementor-element.elementor-element-f51f4db .menu-item a.hfe-menu-item {
	padding-left: 15px;
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .menu-item a.hfe-sub-menu-item {
	padding-left: calc(15px + 20px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 40px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 60px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 80px);
	padding-right: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db .sub-menu a.hfe-sub-menu-item {
	color: #7a7a7a
}
.elementor-338 .elementor-element.elementor-element-f51f4db .sub-menu, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown-expandible, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown .menu-item a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff
}
.elementor-338 .elementor-element.elementor-element-f51f4db ul.sub-menu {
	width: 220px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .sub-menu a.hfe-sub-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown li a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-338 .elementor-element.elementor-element-f51f4db .sub-menu li.menu-item:not(:last-child), .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown li.menu-item:not(:last-child), .elementor-338 .elementor-element.elementor-element-f51f4db nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px
}

@media(max-width:767px) {
.elementor-338 .elementor-element.elementor-element-54712f5 {
	width: 30%
}
.elementor-338 .elementor-element.elementor-element-b30abac {
	width: 70%
}
}

@media(min-width:768px) {
.elementor-338 .elementor-element.elementor-element-7ccbeed {
	width: 65.082%
}
.elementor-338 .elementor-element.elementor-element-3f60044 {
	width: 34.918%
}
.elementor-338 .elementor-element.elementor-element-878207c {
	width: 13.858%
}
.elementor-338 .elementor-element.elementor-element-8f96c54 {
	width: 71.597%
}
.elementor-338 .elementor-element.elementor-element-29fc916 {
	width: 14.209%
}
}
