.elementor-2 .elementor-element.elementor-element-fa69548 {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-62ca425>.elementor-element-populated {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-460e911>.elementor-background-overlay {
	opacity: .5
}
.elementor-2 .elementor-element.elementor-element-460e911 {
	padding: 80px 0
}
.elementor-2 .elementor-element.elementor-element-253efd3 {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-253efd3 .elementor-heading-title {
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase
}
.elementor-2 .elementor-element.elementor-element-0ea55c4 {
	text-align: justify;
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400
}
.elementor-2 .elementor-element.elementor-element-204d522>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-204d522>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-89cc05b.elementor-position-right .elementor-image-box-img {
	margin-left: 15px
}
.elementor-2 .elementor-element.elementor-element-89cc05b.elementor-position-left .elementor-image-box-img {
	margin-right: 15px
}
.elementor-2 .elementor-element.elementor-element-89cc05b.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-img img {
	transition-duration: .3s
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-wrapper {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-title {
	color: #1075ac;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 3px;
	letter-spacing: -.4px;
	word-spacing: 0px
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-description {
	color: #343232;
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px
}
.elementor-2 .elementor-element.elementor-element-89cc05b>.elementor-widget-container {
	margin: 0;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-887ba39>.elementor-element-populated {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0.elementor-position-right .elementor-image-box-img {
	margin-left: 15px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0.elementor-position-left .elementor-image-box-img {
	margin-right: 15px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-img img {
	transition-duration: .3s
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-wrapper {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-title {
	color: #1075ac;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 3px;
	letter-spacing: -.4px;
	word-spacing: 0px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-description {
	color: #343232;
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0>.elementor-widget-container {
	margin: 0;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-76ee791 {
	padding: 30px 0 0
}
.elementor-2 .elementor-element.elementor-element-a83fb3d>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-a83fb3d>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-1179ab9.elementor-position-right .elementor-image-box-img {
	margin-left: 15px
}
.elementor-2 .elementor-element.elementor-element-1179ab9.elementor-position-left .elementor-image-box-img {
	margin-right: 15px
}
.elementor-2 .elementor-element.elementor-element-1179ab9.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-img img {
	transition-duration: .3s
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-wrapper {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-title {
	color: #1075ac;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 3px;
	letter-spacing: -.4px;
	word-spacing: 0px
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-description {
	color: #343232;
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px
}
.elementor-2 .elementor-element.elementor-element-1179ab9>.elementor-widget-container {
	margin: 0;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-9cde124>.elementor-element-populated {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-7629adf.elementor-position-right .elementor-image-box-img {
	margin-left: 15px
}
.elementor-2 .elementor-element.elementor-element-7629adf.elementor-position-left .elementor-image-box-img {
	margin-right: 15px
}
.elementor-2 .elementor-element.elementor-element-7629adf.elementor-position-top .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-wrapper .elementor-image-box-img {
	width: 30%
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-img img {
	transition-duration: .3s
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-wrapper {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-title {
	color: #1075ac;
	font-family: "Poppins", Sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 3px;
	letter-spacing: -.4px;
	word-spacing: 0px
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-description {
	color: #343232;
	font-family: "Poppins", Sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px
}
.elementor-2 .elementor-element.elementor-element-7629adf>.elementor-widget-container {
	margin: 0;
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-33aadeb>.elementor-background-overlay {
	background-color: #000;
	background-image: url("https://largogeneraltrading.ae/wp-content/uploads/2022/12/aerial-view-cargo-ship-cargo-container-harbor.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1
}
.elementor-2 .elementor-element.elementor-element-33aadeb {
	padding: 200px 0
}
.elementor-2 .elementor-element.elementor-element-e9b3495:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-e9b3495>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F2F2F2F2
}
.elementor-2 .elementor-element.elementor-element-e9b3495 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 80px 0
}
.elementor-2 .elementor-element.elementor-element-e9b3495>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-206e81c {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-206e81c .elementor-heading-title {
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase
}
.elementor-2 .elementor-element.elementor-element-206e81c>.elementor-widget-container {
	padding: 0 0 30px
}
.elementor-2 .elementor-element.elementor-element-e7448cf:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-e7448cf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #fff
}
.elementor-2 .elementor-element.elementor-element-e7448cf>.elementor-background-overlay {
	background-color: #fff;
	opacity: .5;
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-e7448cf, .elementor-2 .elementor-element.elementor-element-e7448cf>.elementor-background-overlay {
	border-radius: 15px
}
.elementor-2 .elementor-element.elementor-element-e7448cf {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 0;
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-264022f img {
	border-radius: 10px
}
.elementor-2 .elementor-element.elementor-element-264022f>.elementor-widget-container {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-7e61f11>.elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 30px
}
.elementor-2 .elementor-element.elementor-element-7e61f11>.elementor-element-populated>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-348671d {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-348671d .elementor-heading-title {
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 28px;
	font-weight: 600
}
.elementor-2 .elementor-element.elementor-element-15e835f {
	text-align: justify;
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-2 .elementor-element.elementor-element-01154c6:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-01154c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #fff
}
.elementor-2 .elementor-element.elementor-element-01154c6>.elementor-background-overlay {
	background-color: #fff;
	opacity: .5;
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-2 .elementor-element.elementor-element-01154c6, .elementor-2 .elementor-element.elementor-element-01154c6>.elementor-background-overlay {
	border-radius: 15px
}
.elementor-2 .elementor-element.elementor-element-01154c6 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 0;
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-db8f476>.elementor-element-populated {
	padding: 30px
}
.elementor-2 .elementor-element.elementor-element-ffc7647 {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-ffc7647 .elementor-heading-title {
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 28px;
	font-weight: 600
}
.elementor-2 .elementor-element.elementor-element-493caed {
	text-align: justify;
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-2 .elementor-element.elementor-element-1b52d6d img {
	border-radius: 10px
}
.elementor-2 .elementor-element.elementor-element-1b52d6d>.elementor-widget-container {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-8f00106>.elementor-background-overlay {
	background-color: #fff;
	opacity: .5
}
.elementor-2 .elementor-element.elementor-element-8f00106, .elementor-2 .elementor-element.elementor-element-8f00106>.elementor-background-overlay {
	border-radius: 15px
}
.elementor-2 .elementor-element.elementor-element-8f00106 {
	margin-top: 0;
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-6f8dc55 {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-6f8dc55 img {
	border-radius: 10px
}
.elementor-2 .elementor-element.elementor-element-6f8dc55>.elementor-widget-container {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-faecfbb>.elementor-element-populated {
	padding: 30px
}
.elementor-2 .elementor-element.elementor-element-6ccc29f {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-6ccc29f .elementor-heading-title {
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 28px;
	font-weight: 600
}
.elementor-2 .elementor-element.elementor-element-62be37e {
	text-align: justify;
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-2 .elementor-element.elementor-element-ddd29c4>.elementor-background-overlay {
	background-color: #fff;
	opacity: .5
}
.elementor-2 .elementor-element.elementor-element-ddd29c4, .elementor-2 .elementor-element.elementor-element-ddd29c4>.elementor-background-overlay {
	border-radius: 15px
}
.elementor-2 .elementor-element.elementor-element-ddd29c4 {
	margin-top: 0;
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-09057e4>.elementor-element-populated {
	padding: 30px
}
.elementor-2 .elementor-element.elementor-element-22244be {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-22244be .elementor-heading-title {
	color: #000;
	font-family: "Sawarabi Gothic", Sans-serif;
	font-size: 28px;
	font-weight: 600
}
.elementor-2 .elementor-element.elementor-element-379f003 {
	text-align: left;
	color: #000;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-2 .elementor-element.elementor-element-3880b58 img {
	border-radius: 10px
}
.elementor-2 .elementor-element.elementor-element-3880b58>.elementor-widget-container {
	padding: 0
}

@media(min-width:768px) {
.elementor-2 .elementor-element.elementor-element-34bc9ae {
	width: 54.123%
}
.elementor-2 .elementor-element.elementor-element-9f74da4 {
	width: 45.833%
}
}

@media(max-width:1024px) and (min-width:768px) {
.elementor-2 .elementor-element.elementor-element-34bc9ae {
	width: 100%
}
.elementor-2 .elementor-element.elementor-element-9f74da4 {
	width: 100%
}
}

@media(min-width:1025px) {
.elementor-2 .elementor-element.elementor-element-33aadeb>.elementor-background-overlay {
	background-attachment: fixed
}
}

@media(max-width:1024px) {
.elementor-2 .elementor-element.elementor-element-460e911 {
	padding: 30px 20px
}
.elementor-2 .elementor-element.elementor-element-9f74da4>.elementor-element-populated {
	padding: 40px 0 0
}
.elementor-2 .elementor-element.elementor-element-e9b3495 {
	padding: 30px 15px
}
.elementor-2 .elementor-element.elementor-element-264022f {
	text-align: left
}
.elementor-2 .elementor-element.elementor-element-264022f img {
	height: 500px;
	object-fit: cover
}
.elementor-2 .elementor-element.elementor-element-1b52d6d img {
	height: 500px;
	object-fit: cover
}
.elementor-2 .elementor-element.elementor-element-6f8dc55 img {
	height: 500px;
	object-fit: cover
}
.elementor-2 .elementor-element.elementor-element-3880b58 img {
	height: 500px;
	object-fit: cover
}
}

@media(max-width:767px) {
.elementor-2 .elementor-element.elementor-element-460e911 {
	padding: 30px 0
}
.elementor-2 .elementor-element.elementor-element-253efd3 {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-0ea55c4 {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-204d522 {
	width: 50%
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-89cc05b .elementor-image-box-wrapper {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-887ba39 {
	width: 50%
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0 .elementor-image-box-wrapper {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-4b1a2a0>.elementor-widget-container {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-a83fb3d {
	width: 50%
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-1179ab9 .elementor-image-box-wrapper {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-9cde124 {
	width: 50%
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-img {
	margin-bottom: 15px
}
.elementor-2 .elementor-element.elementor-element-7629adf .elementor-image-box-wrapper {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-7629adf>.elementor-widget-container {
	padding: 0
}
.elementor-2 .elementor-element.elementor-element-9f74da4>.elementor-element-populated {
	margin: 20px 0 0;
--e-column-margin-right:0px;
--e-column-margin-left:0px;
	padding: 40px 20px
}
.elementor-2 .elementor-element.elementor-element-e9b3495 {
	padding: 30px 0
}
.elementor-2 .elementor-element.elementor-element-7e61f11>.elementor-element-populated {
	padding: 20px
}
.elementor-2 .elementor-element.elementor-element-348671d {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-15e835f {
	text-align: center
}
.elementor-2 .elementor-element.elementor-element-db8f476>.elementor-element-populated {
	padding: 20px
}
}
