.elementor-706 .elementor-element.elementor-element-6dd909b {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0
}
.elementor-706 .elementor-element.elementor-element-12d4a09>.elementor-element-populated {
	padding: 0
}
.elementor-706 .elementor-element.elementor-element-80b67b2 iframe {
	height: 450px
}
.elementor-706 .elementor-element.elementor-element-490e7bd:not(.elementor-motion-effects-element-type-background), .elementor-706 .elementor-element.elementor-element-490e7bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #091f2b
}
.elementor-706 .elementor-element.elementor-element-490e7bd {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 80px 0
}
.elementor-706 .elementor-element.elementor-element-490e7bd>.elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s
}
.elementor-706 .elementor-element.elementor-element-76d3acd .elementor-heading-title {
	color: #fff;
	font-family: "Poppins", Sans-serif;
	font-size: 40px;
	font-weight: 700
}
.elementor-706 .elementor-element.elementor-element-b35ffbd {
	text-align: justify;
	color: #fff;
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(8px/2)
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(8px/2)
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(8px/2);
	margin-left: calc(8px/2)
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-8px/2);
	margin-left: calc(-8px/2)
}
body.rtl .elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-8px/2)
}
body:not(.rtl) .elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-8px/2)
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-icon i {
	color: #fff
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-icon svg {
	fill: #fff
}
.elementor-706 .elementor-element.elementor-element-916b944 {
--e-icon-list-icon-size:6px;
--e-icon-list-icon-align:left;
--e-icon-list-icon-margin:0 calc(var(--e-icon-list-icon-size, 1em)*0.25) 0 0
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-text {
	color: #fff;
	padding-left: 2px;
	text-shadow: 0px 0px 10px rgba(0,0,0,.3)
}
.elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-item>.elementor-icon-list-text, .elementor-706 .elementor-element.elementor-element-916b944 .elementor-icon-list-item>a {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 400
}
.elementor-706 .elementor-element.elementor-element-c59115b {
--grid-template-columns:repeat(0, auto);
--icon-size:18px;
--grid-column-gap:5px;
--grid-row-gap:0px
}
.elementor-706 .elementor-element.elementor-element-c59115b .elementor-widget-container {
	text-align: left
}
.elementor-706 .elementor-element.elementor-element-c59115b .elementor-social-icon {
	background-color: #02010100
}
.elementor-706 .elementor-element.elementor-element-efa7d96.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end
}
.elementor-706 .elementor-element.elementor-element-efa7d96>.elementor-element-populated {
	margin: 0;
--e-column-margin-right:0px;
--e-column-margin-left:0px;
	padding: 0
}
.elementor-706 .elementor-element.elementor-element-3164917>.elementor-widget-container {
	margin: 0;
	padding: 0
}
.elementor-706 .elementor-element.elementor-element-3164917 {
	width: var(--container-widget-width, 85.263%);
	max-width: 85.263%;
--container-widget-width:85.263%;
--container-widget-flex-grow:0;
	align-self: flex-start
}
.elementor-706 .elementor-element.elementor-element-c720bef>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center
}
.elementor-706 .elementor-element.elementor-element-9611a63 {
	font-family: "Poppins", Sans-serif;
	font-weight: 400
}
.elementor-706 .elementor-element.elementor-element-9611a63>.elementor-widget-container {
	margin: 0;
	padding: 10px 0 0
}
.elementor-bc-flex-widget .elementor-706 .elementor-element.elementor-element-371f0d4.elementor-column .elementor-widget-wrap {
	align-items: center
}
.elementor-706 .elementor-element.elementor-element-371f0d4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center
}
.elementor-706 .elementor-element.elementor-element-371f0d4.elementor-column>.elementor-widget-wrap {
	justify-content: center
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .hfe-nav-menu__toggle {
	margin-left: auto
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .menu-item a.hfe-menu-item {
	padding-left: 15px;
	padding-right: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .menu-item a.hfe-sub-menu-item {
	padding-left: calc(15px + 20px);
	padding-right: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 40px);
	padding-right: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 60px);
	padding-right: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
	padding-left: calc(15px + 80px);
	padding-right: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .menu-item a.hfe-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 .menu-item a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 a.hfe-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 a.hfe-sub-menu-item {
	font-family: "Poppins", Sans-serif;
	font-size: 16px;
	font-weight: 500
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .sub-menu, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown-expandible, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown .menu-item a.hfe-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
	background-color: #fff
}
.elementor-706 .elementor-element.elementor-element-d6887e6 ul.sub-menu {
	width: 220px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .sub-menu a.hfe-sub-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown li a.hfe-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown li a.hfe-sub-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown-expandible li a.hfe-menu-item, .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
	padding-top: 15px;
	padding-bottom: 15px
}
.elementor-706 .elementor-element.elementor-element-d6887e6 .sub-menu li.menu-item:not(:last-child), .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown li.menu-item:not(:last-child), .elementor-706 .elementor-element.elementor-element-d6887e6 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
	border-bottom-style: solid;
	border-bottom-color: #c4c4c4;
	border-bottom-width: 1px
}
.elementor-706 .elementor-element.elementor-element-d6887e6>.elementor-widget-container {
	margin: 0;
	padding: 0
}

@media(max-width:767px) {
.elementor-706 .elementor-element.elementor-element-490e7bd {
	padding: 30px 0
}
.elementor-706 .elementor-element.elementor-element-efa7d96>.elementor-element-populated {
	padding: 0 15px
}
.elementor-706 .elementor-element.elementor-element-3164917 {
	width: 100%;
	max-width: 100%
}
.elementor-706 .elementor-element.elementor-element-e2ff38b>.elementor-element-populated {
	padding: 15px
}
.elementor-706 .elementor-element.elementor-element-9611a63 {
	text-align: center
}
.elementor-706 .elementor-element.elementor-element-9611a63>.elementor-widget-container {
	padding: 0
}
}
